{% load static %}

<!-- ================================
    Start Footer
    ================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="https://www.github.com/vcanonc"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
                <li><a href="https://www.linkedin.com/in/vcanonc"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
            </ul>
            <div class="copyrightCol">
                <p>Copyright ©{% now 'Y' %} All rights reserved. Front-end design by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a>. 
                    Backend developed by Víctor Cañón.</p>
            </div>
    </div>
</footer>
<!-- ================================
    End Footer
    ================================= -->