{% extends 'main/base.html' %}
{% load static %}


<!-- ================================
    Start SEO blocks
    ================================= -->
{% block title %}Resume - Blog{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
    END SEO blocks
    ================================= -->


<!-- ================================
    Start CSS blocks
    ================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
    END CSS blocks
    ================================= -->


<!-- ================================
    Start script blocks
    ================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
    END script blocks
    ================================= -->


{% block contents %}
<!-- ================================
    Start Content
    ================================= -->
<section>
    <div class="innerPageBannerCol">
        <div class="container">
            <div class="row g-4 g-md-3  align-items-center">
                <div class="col-md-6">
                    <div class="bannerContent">
                        <h1 class="xlTitle pb-md-3">My personal blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="lightBg">
        <div class="container">
            <div class="portfolioContentMain">
                <div class="row g-3 g-md-4 g-lg-5 portfolioRow">

                    {% if blogs %}
                    {% for blog in blogs %}
                    {% if blog.is_active %}
                    <div class="col-md-6 pColMain">

                        <div class="cardStyle1">

                            <h4 class="mdTitle cs1Title">
                                <a href="{% url 'main:blog' slug=blog.slug %}">
                                    {{ blog.name }}
                                </a>
                            </h4>

                            <a href="{% url 'main:blog' slug=blog.slug %}">
                                {% if blog.image %}
                                <img src="{{ blog.image.url }}" alt="{{ blog.name }}" class="pImg">
                                {% endif %}
                            </a>

                            <ul class="cardOptionCol">
                                <li>{{ blog.timestamp.date }}</li>
                                <li>{{ blog.author }}</li>
                            </ul>

                            <p>
                                {{ blog.description }}
                                <a href="{% url 'main:blog' slug=blog.slug %}">
                                    ... Ver más
                                </a>
                            </p>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>There are no blogs entries.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================
    End Content
    ================================= -->
{% endblock %}